{% extends ":default:layout.html.twig" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Mushkin Translator!</a>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>
    </div>

    <div class="container">
        <div class="'row">

            <div class="col-md-6">
                <form role="form" method="post" action="{{ path ('homepage') }}">
                    <div class="form-group">
                        <div class="col-md-6">
                        <select name="transLang" class="form-control">
                            <option selected value="1">from russian to english</option>
                            <option value="2">from english to russian</option>
                        </select>
                        </div>
                        <br><br>
                        <label for="textArea">Enter text to translate:</label>
                        <textarea class="form-control"
                                  id="textArea"
                                  name="textArea"
                                  placeholder="Введите текст для перевода"
                                  rows="10"
                                  cols="30">{{ text }}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary col-md-offset-10">Translate</button>
                </form>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <br><br>
                    <label for="textArea2">Translated text:</label>
                    <textarea class="form-control"
                              id="textArea2"
                              placeholder="  "
                              readonly
                              rows="10"
                              cols="30"
                            >{{ text|vittrans('ru', 'en') }} - {{ transLang }}</textarea>
                </div>
            </div>

        </div>
    </div>

{% endblock %}