{% extends ":default:layout.html.twig" %}

{% block body %}

    <div class="container">
        <nav class="navbar navbar-default" role="navigation">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand">Mushkin's Translator</a>
                </div>
            </div>
        </nav>
    </div>

    <div class="container">
        <div class="'row">

            <div class="col-md-6">
                <form role="form" method="post" action="{{ path ('homepage') }}">

                    <div class="form-group">
                        <label for="textArea">Enter text to translate:</label>
                        <input class="form-control"
                                  id="textArea"
                                  name="textArea"
                                  placeholder="Enter text to translate"
                                  value ="{{ text }}">
                    </div>

                    <div class="col-md-6">
                        <select name="transLang" class="form-control">
                            <option {% if transLang == 1 %}selected{% endif %} value="1">from russian to english</option>
                            <option {% if transLang == 2 %}selected{% endif %} value="2">from english to russian</option>
                        </select>
                    </div>

                    <button type="reset" class="btn btn-danger col-md-offset-2">Reset</button>
                    <button type="submit" class="btn btn-primary col-md-offset-0">Translate</button>

                </form>
            </div>

            <div class="col-md-6">
                <div class="form-group">
                    <label for="textArea2">Translated text:</label>
                    <input class="form-control"
                              id="textArea2"
                              readonly
                              value="{{ text|vittrans(fromLang, toLang) }}">
                </div>
            </div>

        </div>
    </div>
{% endblock %}